.turtle
    canvas#canvas.turtle__canvas(:width="canvasWidth" :height="canvasHeight")
    .turtle__inputs.inputs
        .inputs__angle1.angle1
            input.angle1__input(
                type="range"
                min="-180"
                max="180"
                @input="drawTurtle"
                v-model="inputTree.angle1"
            )
            input(
                type="number"
                min="-180"
                max="180"
                @input="drawTurtle"
                v-model="inputTree.angle1"
            )
            span.angle1__label Angle 1
        .inputs__grow1.grow1
            input.grow1__input(
                type="range"
                min="0"
                max="1000"
                @input="drawTurtle"
                v-model="inputTree.grow1"
            )
            input(
                type="number"
                min="0"
                max="1000"
                @input="drawTurtle"
                v-model="inputTree.grow1"
            )
            span.grow1__label Grow 1
        .inputs__angle2.angle2
            input.angle2__input(
                type="range"
                min="-180"
                max="180"
                @input="drawTurtle"
                v-model="inputTree.angle2"
            )
            input(
                type="number"
                min="-180"
                max="180"
                @input="drawTurtle"
                v-model="inputTree.angle2"
            )
            span.angle2__label Angle 2
        .inputs__grow2.grow2
            input.grow2__input(
                type="range"
                min="0"
                max="1000"
                @input="drawTurtle"
                v-model="inputTree.grow2"
            )
            input(
                type="number"
                min="0"
                max="1000"
                @input="drawTurtle"
                v-model="inputTree.grow2"
            )
            span.grow2__label Grow 2
        .inputs__depth.depth
            input.depth__input(
                type="range"
                min="0"
                max="18"
                @input="drawTurtle"
                v-model="inputTree.depth"
            )
            input(
                type="number"
                min="0"
                max="18"
                @input="drawTurtle"
                v-model="inputTree.depth"
            )
            span.depth__label Depth